<section id="chapter21">
    <div class="container padding-top-30 padding-bottom-80">
        <div class="row">
            <div class="col-md-12 text-center">
                {% image '@AppBundle/Resources/public/images/book/coming-soon.gif' %}
                <img src="{{ asset_url }}" alt="Coming soon">
                {% endimage %}
            </div>
        </div>
    </div>
</section>