{# HEADING - PUBLICATIONS #}
<div class="row margin-top-30" id="publications">
    <div class="col-md-12">
        <div class="list-heading uppercase-transform">
            <div class="icon-box-h6">
                <div class="ib-icon">
                    <i class="fa fa-tencent-weibo"></i>
                </div>
                <div class="ib-info ">
                    <h6>
                        {{ 'personal.martina.part2.headlie'|trans }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

{# CONTENT - ARTICLE 2 #}
{% include '@App/Personal/BabinskaMartina/Includes/article-2.html.twig' %}

{# CONTENT - ARTICLE 1 #}
{% include '@App/Personal/BabinskaMartina/Includes/article-1.html.twig' %}

{# CONTENT - BOOK 1#}
{% include '@App/Personal/BabinskaMartina/Includes/book-1.html.twig' %}

{# READ MORE #}
<div class="row margin-top-10" id="readMorePublications">
    <div class="col-md-12">
        <p>
            <span onclick="toggleMoreInformation('Publications')" class="text-color-primary cursor-hand">
                <b>{{ 'personal.read'|trans }}</b>
            </span>
        </p>
    </div>
</div>

<div id="textPublications" class="hide-element">
    {# CONTENT - CONF 7 #}
    {% include '@App/Personal/BabinskaMartina/Includes/conference-7.html.twig' %}

    {# CONTENT - CONF 6 #}
    {% include '@App/Personal/BabinskaMartina/Includes/conference-6.html.twig' %}

    {# CONTENT - CONF 5 #}
    {% include '@App/Personal/BabinskaMartina/Includes/conference-5.html.twig' %}

    {# CONTENT - CONF 4 #}
    {% include '@App/Personal/BabinskaMartina/Includes/conference-4.html.twig' %}

    {# CONTENT - CONF 3 #}
    {% include '@App/Personal/BabinskaMartina/Includes/conference-3.html.twig' %}

    {# CONTENT - CONF 2 #}
    {% include '@App/Personal/BabinskaMartina/Includes/conference-2.html.twig' %}

    {# CONTENT - CONF 1 #}
    {% include '@App/Personal/BabinskaMartina/Includes/conference-1.html.twig' %}

</div>