{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/main.css') }}">
{% endblock %}

{% block body %}
    {% include 'AppBundle:Includes:header.html.twig' %}

    <section>
        {% block section %}{% endblock %}
    </section>

    {% include 'AppBundle:Includes:footer.html.twig' %}
{% endblock %}

{% block javascripts %}
{% endblock %}