<p>{{ 'right_navbar.book.answer11.text1'|trans }}</p>
<p class="margin-top-5">
    <i>{{ 'right_navbar.book.answer11.text2'|trans }}</i>
    (<span class="text-color-primary"><b>{{ 'right_navbar.book.answer11.text3'|trans }}</b></span>)
</p>

<div class="margin-top-10 margin-bottom-10">
    {% image '@AppBundle/Resources/public/images/book/first-chapter/111-answer.png' %}
    <img src="{{ asset_url }}" alt="Answer 1-1 graph" >
    {% endimage %}
</div>
