<p>{{ 'right_navbar.book.answer12.text1'|trans }}</p>
<p class="margin-top-5">{{ 'right_navbar.book.answer12.text2'|trans }}</p>
<p class="margin-top-5">
    {{ 'right_navbar.book.answer12.text3'|trans }}
    <span><b> {{ 'right_navbar.book.answer12.text4'|trans }}</b>.</span>
</p>
