<div class="margin-top-10 margin-bottom-10">
    {% image '@AppBundle/Resources/public/images/book/first-chapter/116-answer1.png' %}
    <img src="{{ asset_url }}" alt="Answer 1-6 graph" >
    {% endimage %}
</div>
<div class="margin-top-15 margin-bottom-10">
    {% image '@AppBundle/Resources/public/images/book/first-chapter/116-answer2.png' %}
    <img src="{{ asset_url }}" alt="Answer 1-6 graph" >
    {% endimage %}
</div>

<p class="margin-top-15">
    <span class="uppercase-transform"><b>{{ 'book.thinkabout'|trans }}:</b></span>
    {{ 'right_navbar.book.answer16.text1'|trans }}
</p>