{#<div class="smart-player-embed-container">#}
     {#<iframe#}
            {#class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance"#}
            {#src="http://127.0.0.1:8000/bundles/app/videos/textBook/logarithms/inequalities/problems/problem1/Solve-Video1/media/index_player.html?embedIFrameId=embeddedSmartPlayerInstance" scrolling="no" frameborder="0"#}
            {#webkitAllowFullScreen mozallowfullscreen allowFullScreen#}
    {#></iframe>#}
{#</div>#}

<div class="smart-player-embed-container">
    <iframe
            class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance"
            src="{{ asset('bundles/app/videos/textBook/logarithms/inequalities/problems/problem1/Solve-Video1/media/index_player.html') }}"
            scrolling="no" frameborder="0"
            webkitAllowFullScreen mozallowfullscreen allowFullScreen
    ></iframe>
</div>

{% javascripts 'bundles/app/videos/textBook/logarithms/inequalities/problems/problem1/Solve-Video1/media/scripts/embedded-smart-player.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

