<div class="smart-player-embed-container">
    <iframe
            class="smart-player-embed-iframe border-around" id="embeddedSmartPlayerInstance"
            src="{{ asset('bundles/app/videos/textBook/logarithms/inequalities/problems/problem1/Solve-Video1/media/index_player.html') }}"
            scrolling="no" frameborder="0"
            webkitAllowFullScreen mozallowfullscreen allowFullScreen
    ></iframe>
</div>

