<section id="problem1-challenge1-solution1" class="welcome padding-top-40 padding-bottom-40 hide-element">
    <div class="container">
        <div class="row">

            <div class="col-md-1"></div>

            <div class="col-md-11">
                <div class="heading-block no-margin">
                    <h5 class="margin-bottom-10">
                       {{ 'basic_words.solution'|trans }} 1
                    </h5>
                    <span class="margin-bottom-20">
                        {{ 'textBook.basic_words.logarithmic-inequalities.solution1.without-change.text'|trans }}
                    </span>
                </div>
            </div>

        </div>
    </div>
</section>