<section id="problem1-challenge" class="welcome padding-top-40 padding-bottom-40 hide-element">
    <div class="container">
        <div class="row">

            <div class="col-md-1"></div>

            <div class="col-md-11">
                <div class="heading-block no-margin">
                    <h5 class="margin-bottom-10">
                       {{ 'textBook.basic_words.challenge'|trans }}
                    </h5>
                    <span class="margin-bottom-30">
                        {{ 'textBook.basic_words.challenge-text'|trans }}
                    </span>
                </div>

                {#<-- LIST OF PROBLEMS -->#}
                <div class="row">
                    <div class="col-md-2 padding-top-40">
                        <a
                                href="{{ path('app_textbook_logarithms_inequalities_problem1') }}"
                                class="btn btn-small btn-color radius colour-font-dark-grey btn-white-hover btn-width-100-percent btn-small-padding-10 padding-top-0 padding-bottom-0 btn-height-50"
                        >
                            <span class="text-lowercase">$$\log_{\frac{1}{4}}x < -2 $$</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>