{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <main class="cd-main-content">
        {% include 'AppBundle:Default:Includes/slider.html.twig' %}

        <div id="content">
            <section class="padding-top-80 padding-bottom-80">
                <div class="container">
                    <!-- MAIN HEADING -->
                    <div class="heading-block text-center" data-wow-delay="0.4s">
                        <h3>
                           FOTO
                            GENERAL INFO
                            ROZKLIKY: RESEARCH,
                            WORK-EXPERIENCE,
                            PUBLICATIONS,
                            MASTER THESIS - KTORE VEDIEM A KTORE SOM VYPISALA
                            INTERESTS
                        </h3>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
