<div class="margin-bottom-20">
    <p>{{ 'right_navbar.book.helper14.text1'|trans }}.</p>

    <p class="margin-top-5">{{ 'right_navbar.book.helper14.text2'|trans }}</p>

    <p class="margin-top-5">{{ 'right_navbar.book.helper14.text3'|trans }}</p>
</div>


