<p>
    {{ 'right_navbar.book.helper12.text1'|trans }}
    <span onclick="toggleTable('FVC-3')" class="text-color-primary"><b> {{ 'main_navbar.here'|trans }}</b></span>).
</p>
<p class="margin-top-5">{{ 'right_navbar.book.helper12.text2'|trans }}</p>
<div id="tableFVC-3" class="hide-element margin-top-20 margin-bottom-20">
    {% include 'AppBundle:Book:FirstChapter/Includes/tableFVC.html.twig' %}
</div>

