<div class="margin-bottom-20">
    <p>
        {{ 'right_navbar.book.helper12.text1-1'|trans }}
        <span class="colour-font"><b>{{ 'right_navbar.book.helper12.text1-2'|trans }}</b></span>
        {{ 'right_navbar.book.helper12.text1-3'|trans }}.
    </p>

    <p class="margin-top-10">{{ 'right_navbar.book.helper12.text2'|trans }}</p>
    <div id="tableFVC-3" class="hide-element margin-top-20 margin-bottom-20">
        {% include 'AppBundle:Book:FirstChapter/Includes/tableFVC.html.twig' %}
    </div>
</div>

