<!-- Footer -->
<footer id="footer">
    <div class="footer-wrapper">

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="footer-top-wrapper">
                <div class="container">
                    <div class="row">
                        <!-- About Block -->
                        <div class="col-md-6">
                            <div class="block block-about">
                                <h3 class="block-title no-underline">
                                    <span class="text-primary">Creative Agency from London - UK</span>
                                </h3>
                                <div class="block-content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End About Block -->

                        <!-- Contact Block -->
                        <div class="col-md-3">
                            <div class="block block-links">
                                <h3 class="block-title">
                                    <span>Contact</span>
                                </h3>
                                <div class="block-content">
                                    <address>
                                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>
                                        Phone: +1 (123) 456 7890 <br>
                                        Fax: +1 (123) 456 7891 <br>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Contact Block -->

                        <!-- Address Block -->
                        <div class="col-md-3">
                            <div class="block block-twitter-widget">
                                <h3 class="block-title">
                                    <span>Address</span>
                                </h3>
                                <div class="block-content">
                                    <address>
                                        Unit C2, St.Vincent's Trading Est., <br>
                                        Feeder Road, <br>
                                        Bristol, BS2 0UY <br>
                                        United Kingdom <br>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <!-- Address Block -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="footer-bottom-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 copyright">
                            <p>&copy; {{ "now"|date("Y") }} | Martina Babinská. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6 social-links">
                            <ul class="right">
                                <li><a href="#."><i class="fa fa-github"></i></a></li>
                                <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </div>
</footer>
<!-- End Footer -->