<!-- LOADER ===========================================-->
<div id="loader">
    <div class="loader">
        <div class="position-center-center">
            {% image '@AppBundle/Resources/public/templateEvanto/images/logo-dark.png' %}
            <img src="{{ asset_url }}"alt="logo">
            {% endimage %}
            <p class="font-crimson text-center">Please Wait...</p>
            <div class="loading">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
</div>