.hide-element {
    display: none;
}

.display-block {
    display: block;
}

.scrollable {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cursor-hand {
    cursor: pointer;
}

.both-sides-text-alignment {
    text-align: justify !important;
    text-justify: inter-word !important;
}

.min-height-200 {
    min-height: 200px;
}

.max-height-500 {
    max-height: 500px;
}

.max-width-200 {
    max-width: 200px;
}

.min-width-200 {
    min-width: 200px;
}

.margin-top-150 {
    margin-top: 150px;
}

.vertical-middle thead tr th {
    vertical-align: middle !important;
}

.slider-font {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    z-index: 5;
    margin-right: 30px;
}

.slider-font-babinska {
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    z-index: 5;
    margin-right: 30px;
}

.border-top {
    border-top: 1px solid #ececec;
}

.white-font {
    color: black;
!important;
}

.red-font {
    color: #D22C2C;
}

.green-font {
    color: #009900;
}

.blue-font {
    color: #000099;
}

.orange-font {
    color: #FF9933;
}

.colour-font {
    color: #009999;
}

.colour-font-dark-grey {
    color: #141414 !important;
}

.uppercase-transform {
    text-transform: uppercase !important;
}

.problem {
    text-transform: uppercase !important;
    line-height: 30px !important;
}

.orange-color {
    color: #f6b138 !important;
}

.blue-grey-color {
    color: #2F4F4F !important;
}

.helper-section {
    margin-left: 15px;
}

.red-small-text {
    font-size: 12px !important;
    line-height: 15px !important;
    color: red !important;
    font-weight: bold;
}

.bold-p-tags p {
    font-weight: bold;
}

.smaller-p-tags p {
    font-size: 12px;
    line-height: 15px;
    color: #585858;
}

.smaller-p-tags-grey p {
    font-size: 12px;
    line-height: 15px;
}

.smaller-p-tags-line p {
    line-height: 15px;
}

.smaller-p-tags-line-17 p {
    line-height: 17px;
}

.h6-small-font-uppercase {
    font-size: 12px;
    font-weight: bold;
}

.h5-small-font-uppercase {
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 0px 0px 0px !important;
    color: #636363;
}

.h4-small-font-uppercase {
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px 0px 0px 0px !important;
    color: #636363;
}

.download-link a {
    font-size: 16px;
    color: #ff8000;
}

.download-link a:hover {
    color: black;
}

.download-link-small-size a {
    color: #ff8000;
}

.download-link-small-size a:hover {
    color: black;
}

.information-box-picture {
    position: relative;
    top: -100px
}

.information-box-text {
    position: relative;
    top: -50px;
    margin-bottom: 0px;
}

.icon-box-h6 .ib-icon {
    background-color: transparent;
    display: inline-block;
    font-size: 26px;
    float: left;
    width: 5rem;
    margin-right: 2.14286rem;
    position: relative;
    text-align: center;
    bottom: 5px;
}

.max-width-100-percent {
    max-width: 100%;
}

.max-width-80-percent{
    max-width: 80%;
}

.max-width-75-percent{
    max-width: 75%;
}

.max-width-40-percent{
    max-width: 40%;
}

.btn-inactive-gray {
    cursor: default;
    background: #ececec !important;
}

.btn-inactive-orange {
    cursor: default;
    background: #eeb013 !important;
}

.btn-width-100-percent {
    width: 100%;
}

.btn-small-padding {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.btn-small-padding-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.btn-small-padding-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.btn-orange-border {
    border: 1px solid #eeb013 !important;
}

.btn-orange-border:hover {
    background-color: #eeb013 !important;
}

.line-height-3-7 {
    line-height: 3.7;
}

.line-height-35 {
    line-height: 35px;
}

.line-height-25 {
    line-height: 25px;
}

.btn-height-50{
    height: 50px !important;
}

.btn-height-100{
    height: 100px !important;
}

.btn-height-120{
    height: 120px !important;
}

.orange-background{
    background: #eeb013 !important;
}

.transparent-bcg{
    background: rgba(0, 0, 0, 0.25) !important;
}

.transparent-bcg-0-2{
    background: rgba(0, 0, 0, 0.3);
}

.fa-orange{
    color: #eeb013 !important;
}

.font-13px{
    font-size: 13px !important;
}

.font-1-2em{
    font-size: 1.2em !important;
}

.font-1-3em{
    font-size: 1.3em !important;
}

.font-1-5em{
    font-size: 1.5em !important;
}

/* Equations */
.equation-header-h3{
    font-size: 25px !important;
    color: black !important;
    line-height: 0.5 !important;
}
.equation-p-medium{
    font-size: 19px !important;
    line-height: 0.3 !important;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    .hide-picture-element-mobile {
        display: none;
    }
}

/* On screens that are 600px or less */
@media screen and (min-width: 600px) and (max-width: 1100px) {
    .float-left-element-tablet {
        float: left;
    }

    .float-right-element-tablet {
        float: right;
    }
}