<h4 class="h4-small-font-uppercase">{{ 'right_navbar.book.answers'|trans }}</h4>
<p class="red-small-text">{{ 'right_navbar.book.answer.text1'|trans }}</p>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase" onclick="toggleAnswer(11)">
            {{ 'right_navbar.book.answer'|trans }}  1.1
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags" id="answer11">
        {% include 'AppBundle:Book:Includes/Answers/answer-1-1.html.twig' %}
    </div>
</div>