<h4 class="h4-small-font-uppercase">{{ 'right_navbar.book.helpers'|trans }}</h4>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase" onclick="toggleHelper(11)">
            {{ 'right_navbar.book.helper'|trans }} 1.1
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags" id="helper11">
        {% include 'AppBundle:Book:Includes/Helpers/helper-1-1.html.twig' %}
    </div>
</div>

<div class="helper-section">
    <div class="row">
        <h5 class="h5-small-font-uppercase" onclick="toggleHelper(11)">
            {{ 'right_navbar.book.helper'|trans }} 1.2
        </h5>
    </div>
    <div class="row hide-element smaller-p-tags" id="helper11">
        {% include 'AppBundle:Book:Includes/Helpers/helper-1-1.html.twig' %}
    </div>
</div>
