<!--Style Switcher===========================================-->
<div class="color-switcher" id="choose_color"> <a href="#." class="picker_close"><i class="ion-gear-a" ></i></a>
    <div class="theme-colours">
        <p class="font-crimson font-italic">{{ 'right_navbar.book.answers'|trans }}</p>
        <ul>
            <li><a href="#." class="blue" id="blue"></a></li>
            <li><a href="#." class="green" id="green"></a></li>
            <li><a href="#." class="red" id="red"></a></li>
            <li><a href="#." class="yellow" id="yellow"></a></li>
            <li><a href="#." class="brown" id="brown"></a></li>
            <li><a href="#." class="cyan" id="cyan"></a></li>
            <li><a href="#." class="purple" id="purple"></a></li>
            <li><a href="#." class="sky-blue" id="sky-blue"></a></li>
            <li><a href="#." class="gray" id="gray"></a></li>
            <li><a href="#." class="peter-river" id="peter-river"></a></li>
            <li><a href="#." class="nephritis" id="nephritis"></a></li>
            <li><a href="#." class="amethyst" id="amethyst"></a></li>
            <li><a href="#." class="wet-asphalt" id="wet-asphalt"></a></li>
            <li><a href="#." class="night-shade" id="night-shade"></a></li>
            <li><a href="#." class="sun-flowers" id="sun-flowers"></a></li>
            <li><a href="#." class="orange" id="orange"></a></li>
            <li><a href="#." class="carrot" id="carrot"></a></li>
            <li><a href="#." class="alizarin" id="alizarin"></a></li>
            <li><a href="#." class="sliver" id="sliver"></a></li>
            <li><a href="#." class="green-sea" id="green-sea"></a></li>
        </ul>
        <div class="layouts no-padding">
            <p class="font-crimson font-italic margin-top-20">Layout Style</p>
            <a href="#." id="boxed">BOX LAYOUT</a> <a href="#." id="wide">WIDE LAYOUT</a>
        </div>
    </div>
</div>
