<table class="table table-bordered table-hover">
    <thead>
    <tr class="active">
        <th colspan="9" style="text-transform: uppercase">{{ 'book.table.FVC-text-1'|trans }}</th>
    </tr>
    <tr class="active">
        <th></th>
        <th colspan="8">{{ 'book.table.FVC-text-2'|trans }}</th>
    </tr>
    <tr>
        <th class="active">{{ 'book.table.FVC-text-3'|trans }}</th>
        <th>51</th>
        <th>53</th>
        <th>55</th>
        <th>57</th>
        <th>59</th>
        <th>61</th>
        <th>63</th>
        <th>65</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="active">60</td>
        <td>2.97</td>
        <td>2.91</td>
        <td>2.85</td>
        <td>2.79</td>
        <td>2.74</td>
        <td>2.68</td>
        <td>2.62</td>
        <td>2.56</td>
    </tr>
    </tbody>
</table>