<!--======= HOME MAIN SLIDER =========-->
<section class="home-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    {% image '@AppBundle/Resources/public/images/general/main-slider-2.png' %}
                    <img src="{{ asset_url }}" alt="home-2-slider" data-bgposition="center top" data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    {% endimage %}
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption biglargetext sfr tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-90"
                         data-speed="500"
                         data-start="1000"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.06"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">We Deliver
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption verybiglargetext sfr tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="40"
                         data-speed="500"
                         data-start="1500"
                         data-easing="Power3.easeInOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.07"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Excellence
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    {% image '@AppBundle/Resources/public/images/general/main-slider-1.jpg' %}
                    <img src="{{ asset_url }}" alt="home_slider2" data-bgposition="center top" data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    {% endimage %}
                    <!-- LAYERS -->
                </li>
            </ul>
        </div>
    </div>
</section>