<section class="blog padding-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-heading" style="text-transform: uppercase">
                    <h6>
                        <span>III. </span>
                        {{ 'left_navbar.book.chapter13'|trans }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>